:root {
    --cell-width : 22px;
    --clr-navy: #34495e;
    --primary-clr: #6563ff;
    --secondary-clr: #c4c3fc;
    --light-line: #e4e2ed;
    --light-text: #686673;
    --light-dot: #adaac0;
    --wall: #0c3547;
    --path-clr: #fffe6a;
    --visited-clr: #40cee3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
}

/* tutotial */

.tutorial{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.194);
    backdrop-filter: blur(1.2px);
    display: none;
    align-items: center;
    justify-content: center;
}
.tutorial.active{
    display: flex;
}
.tutorial-toggle{
    width: 30px;
    background: url(../assets/icon/flask.svg);
    border: 1px solid var(--light-line);
    aspect-ratio: 1;
    border-radius: 5px;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.tutorial-toggle:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.253) 0px 20px 25px -5px, rgba(0, 0, 0, 0.267) 0px 10px 10px -5px;
}
.card{
    user-select: none;
    background-color: white;
    margin: 8px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(29, 32, 34, 0.434) 0px 8px 24px;
}

.card .upper{
    height: 100%;
    min-height: 350px;
    max-width: 500px;
    width: 100%;
    position: relative;
}
.card .bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--light-line);
    padding: 8px;
    gap: 16px;
}
.card .bottom .right{
    display: flex;
    gap: 2px;
}
.card .bottom .right .btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card .bottom .right .btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.card .bottom .btn{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
}
.blue{
    color: var(--primary-clr);
}
.slide:nth-child(1){
    background: url(../assets/tutorial/man-thinking.svg);
}
.slide:nth-child(2){
    background: url(../assets/tutorial/man-with-maze.svg);
}
.default-bg{
    background: url(../assets/tutorial/bg-2.svg);
}
.slide:last-child{
    background: url(../assets/tutorial/man-clicking-visualize.svg);
    background-size: 60% 60% !important;
}
.upper .slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
    transition: .5s ease;
}
.slide .img-box{
    height: 170px;
    width: 170px;
    overflow: hidden;
    transition: .3s;
}
.img-box.shadow{
    box-shadow: rgba(0, 0, 0, 0.27) 0px 3px 8px;
}

.img-box.shadow:hover{
    transform: scale(1.15);
    box-shadow: rgba(29, 32, 34, 0.434) 0px 8px 24px;
}

.slide .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide h4{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.slide p{
    position: absolute;
    bottom: 0;
    margin: 0 30px;
    font-size: 14px;
    color: var(--light-text);
    background-color: white;
}
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px 0;
}

@keyframes shake{
    0% { transform: scale(1);}
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.dots .dot{
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background-color: var(--light-dot);
    cursor: pointer;
}
.dots .dot.active{
    transition: width 0.1s linear;
    width: 16px;
    height: 8px;
    background-color: var(--primary-clr);
}


/* tutorial end */

.template{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}
nav{
    display: flex;
    padding: 5px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-navy);
}
.logo{
    color: white;
    padding: 0 18px;
    font-size: 20px;
    font-weight: 600;
}
.btn{
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--primary-clr);
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu>li>a{
    gap: 10px;
    display: flex;
    color: white;
    padding: 8px 16px;
    font-weight: 600;
    align-items: center;
}
.nav-menu>li.active>a{
    background-color: var(--primary-clr);
}
.nav-menu>li.active>a:hover{
    color: white;
}
.nav-menu>li>a:hover{
    color: var(--secondary-clr);
}
.drop-box{
    position: relative;
}
.drop-box.active .drop-menu{
    display: block;
}
.drop-box .drop-menu{
    z-index: 100;
    display: none;
    right: 0;
    top : calc(100% + 20px);
    padding: 4px;
    position: absolute;
    min-width: 120px;
    border-radius: 10px;
    background-color: var(--clr-navy);
}
.drop-menu>li>a{
    color: white;
    padding: 8px;
    display: block;
    border-radius: 4px;
}
.drop-menu>li>a:hover,
.drop-menu>li.active>a{
    background-color: var(--primary-clr);
}
.row{
    display: flex;
}
.col{
    aspect-ratio: 1;
    width: 100%;
    border: 0.5px solid var(--light-line);
}
.guide-bar{
    gap: 16px;
    display: flex;
    padding: 8px;
    font-size: 20px;
    text-transform: capitalize;
}
.guide-bar>li{
   gap: 4px;
    display: flex;
    align-items: center;
}
#board{
    overflow: hidden;
}
.targetAlgo{
    color: aliceblue;
}

@media screen and (max-width: 1000px) {
    nav{
        display: grid;
        grid-row-gap: 4px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .btn{
        justify-self: start;
    }
    .nav-menu{
        width: max-content;
        grid-column: 1/-1;
    }
}