---
interface Props {
  title: string;
  css?: string[];
}

const { title, css = [] } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="icon" href="/proxy/https://cdn.nlark.com/yuque/0/2026/jpeg/60657001/1780199306572-a3b84ca7-ab63-49d4-8ac8-11bdcafbed20.jpeg?x-oss-process=image%2Fformat%2Cwebp%2Finterlace%2C1" type="image/jpeg">
  <link rel="stylesheet" href="/css/common.css">
  {css.map((c) => <link rel="stylesheet" href={`/css/${c}`}>)}
</head>
<body>
  <slot />
  <script is:inline src="/js/common.js"></script>
</body>
</html>
